# .NET / Build Artifacts
# Carpetas de compilación de .NET
bin/
obj/
publish/
out/

# IDE / Editor
# Archivos de configuración de Visual Studio, VS Code, etc.
.vs/
.idea/
*.suo
*.user
*.userosscache

# OS
# Archivos del sistema operativo (macOS, Windows)
.DS_Store
Thumbs.db

# Logs y Temporal
*.log
logs/
*.tmp
*.bak

# Archivos de Entorno
# NUNCA subas tus 'secrets' o variables de entorno a Git
.env
.env.local
.env.development
.env.production

# Dependencias de Frontend
# Esta carpeta puede contener miles de archivos y se restaura con 'npm install'
node_modules/


# También ignoramos 'dist/' en la raíz, por si acaso
dist/
